{% block header %}
  {{ include("DougenBoardBundle::header.html.twig") }}
{% endblock %}

<div class="col-md-2">
</div>

<div class="col-md-8">
{% block content %}
{% endblock %}
</div>

<div class="col-md-2">
</div>

{% block footer %}
  {{ include("DougenBoardBundle::footer.html.twig") }}
{% endblock %}
